*{
    outline:none;
}
body {
    padding-top: 70px;
}
.jumbotron h3 {
    color: #ecf0f1;
}

.container .jumbotron, .container-fluid .jumbotron {
    background: #34495e no-repeat;
    background-position: 90% 25%;
    border-radius:0px;
    background-image: url('../img/jumbo-bg.png') ;
    background-size: 80%;
} .jumbotron h1 {
    color: #ecf0f1;
}

.navbar-inverse {
    background-color:#34495e;
    border-radius:0;
} .navbar-inverse ul.navbar-nav li a, .navbar-inverse .navbar-brand  {
    color:#ecf0f1;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #2c3e50;
}


.row .history ul  {
    padding: 0;
    list-style-type: none;
} .row .history .page-header, .row .history .page-header h1 {
    margin-top:0;
}

label h3 {
    display:block;
    width:100%
}

.history .pull-right span {
    margin-left:10px;
}

.history small {
    color:#3498db;
}
.page-header.repair h1 {
    font-size:4em;
}

.panel-title a:hover, .panel-title a{
    text-decoration: none;
}

.row.repair {
    margin-bottom:12px;
}

.tags .alert {
    width:auto;
}

.beskeder .media img, .noter .media img {
   width:50px;
    border-radius:50px;
    
}

.beskeder .media, .noter .media {
    padding:1em 0 1em 0;
    border-bottom:1px solid rgba(243, 242, 245, 0.53);
}


.beskeder .media:hover {
    background: #f9fafd;
}
